@model TComputerShop.Models.ViewModels.OrderVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h1 class="text-center">Order Details</h1>
<br />
<br />
<table class="table table-hover table-bordered p-1">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity Ordered</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr class="table">
                <td>@item.ProductName</td>
                <td>@item.ProductQuantity</td>
                <td>$@item.ProductPrice</td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="row text-center">
    <div class="col-12 text-center">
        <a class="btn btn-primary text-center" asp-action="Orders" asp-controller="Customer">Back To Orders</a>
    </div>
</div>

