@model TComputerShop.Models.ViewModels.CategoryViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<form method="post" asp-action="Index">
    <div class="row px-2 mx-2 backgroundWhite border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12">

            <h2 class="text-primary text-center">Add Category</h2>

            <br />

        </div>

        <div class="col-8">

            <div class="form-group row">

                <div class="col-4">

                    <label asp-for="Category.CategoryName"></label>

                </div>

                <div class="col-8">

                    <input asp-for="Category.CategoryName" class="form-control" />

                    <span asp-validation-for="Category.CategoryName" class="text-danger"></span>

                    <button type="submit" class="btn btn-primary form-control">Add</button>

                </div>

            </div>
        </div>
        </div>

</form>
<br/>
@if (Model.CategoryList != null)
{
    <table class="table table-hover table-bordered p-1">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategoryList)
            {
                <tr class="table">
                    <td>@item.CategoryName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary text-white" style="width:30%">Edit</a>&nbsp<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary text-white" style="width:30%">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

